<?xml version="1.0"?>
<config>
    <modules>
        <Folio3_Product>
            <version>0.1.0</version>
        </Folio3_Product>
    </modules>
    <global>
        <helpers>
            <product>
                <class>Folio3_Product_Helper</class>
            </product>
        </helpers>
        <models>
            <product>
                <class>Folio3_Product_Model</class>
                <resourceModel>product_mysql4</resourceModel>
            </product>
        </models>
        <events>
            <catalog_product_save_before>
                <observers>
                    <product>
                        <type>singleton</type>
                        <class>product/observer</class>
                        <method>catalogProductSaveBefore</method>
                    </product>
                </observers>
            </catalog_product_save_before>
            <catalog_product_save_after>
                <observers>
                    <product>
                        <type>singleton</type>
                        <class>product/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </product>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
</config>