<?xml version="1.0"?>
<config>
    <modules>
        <Folio3_Sales>
            <version>0.1.1</version>
        </Folio3_Sales>
    </modules>
    <global>
        <models>
            <sales>
                <rewrite>
                    <order_api_v2>Folio3_Sales_Model_Order_Api_V2</order_api_v2>
                </rewrite>
            </sales>
        </models>
    </global>
</config>
