<?xml version="1.0"?>

<config>
    <modules>
        <Folio3_ConnectorConfiguration>
            <version>0.0.0.1</version>
        </Folio3_ConnectorConfiguration>
    </modules>

    <global>
        <helpers>
            <connectorconfiguration>
                <class>Folio3_ConnectorConfiguration_Helper</class>
            </connectorconfiguration>
        </helpers>
    </global>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <connectorconfiguration_options>
                                            <title>Store Connector Configuration Module Section</title>
                                        </connectorconfiguration_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>