<?xml version="1.0" encoding="UTF-8"?>

<config>
    <tabs>
        <connectorconfig translate="label" module="connectorconfiguration">
            <label>Magento Connector</label>
            <sort_order>99999</sort_order>
        </connectorconfig>
    </tabs>
    <sections>
        <connectorconfiguration_options translate="label" module="connectorconfiguration">
            <label>Configuration Options</label>
            <tab>connectorconfig</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <connector_config_group translate="label">
                    <label>Configuration Fields</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <f3_aw_gc_amounts>
                            <label>Attribute Id</label>
                            <comment>aw_gc_amounts</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </f3_aw_gc_amounts>
                        <f3_ns_date_format>
                            <label>NetSuite Date Format</label>
                            <comment>NetSuite Date Format</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </f3_ns_date_format>
                        <f3_mg_date_format>
                            <label>Magento Date Format</label>
                            <comment>Magento Date Format</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </f3_mg_date_format>
                        <f3_suitelet_url>
                            <label>Suitelet URL</label>
                            <comment>A URL of public Suitelet of NetSuite</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </f3_suitelet_url>
                        <f3_store_id>
                            <label>Store Id</label>
                            <comment>Value is provided by Folio3</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </f3_store_id>
                    </fields>
                </connector_config_group>
            </groups>
        </connectorconfiguration_options>
    </sections>
</config>