
<h2 class="view-heading">Import Sales Order</h2>


<div class="panel panel-default">

    <div class="panel-title">

    </div>

    <div class="panel-body">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="salesorder_id" class="control-label col-sm-3">Sales Order Id</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control salesorder-id-text"
                                   id="salesorder_id"
                                   name="salesorder_id"
                                   ng-enter="viewModel.import()"
                                   ng-model="viewModel.salesorderId" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button type="button" ng-click="viewModel.import()" class="btn btn-primary btn-submit">Go <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>

        </div>




        <div class="alert alert-info" ng-if="!!viewModel.successMessage">

            <div ng-if="viewModel.executionStatus == 'QUEUED'">
                The specified sales order has been queued for execution.
            </div>

            <div ng-if="viewModel.executionStatus == 'INQUEUE'">
                Another sales order is already in a queue. please try again later.
            </div>

            <div ng-if="viewModel.executionStatus == 'INPROGRESS'">
                Another sales order is currently being imported. Please try again later.
            </div>

            <div ng-if="viewModel.executionStatus == 'SCHEDULED'">
                Another sales order is already set to scheduled and will be processed soon. Please try again later.
            </div>

        </div>

        <div class="alert alert-danger" ng-if="!!viewModel.errorMessage">
            <div ng-if="viewModel.executionStatus == 'INVALID_ID'">
                Please specify a valid sales order id.
            </div>
            <div ng-if="viewModel.executionStatus != 'INVALID_ID'">
                The specified sales order has been queued for execution.
            </div>
        </div>



    </div>

</div>
