
<h2 class="view-heading">Sync Items</h2>


<br /><br />
<div>
    <a ng-click="viewModel.execute();" class="btn btn-success btn-lg">Start Items Sync</a>
</div>

<br /><br />

<div class="alert alert-info" ng-if="!!viewModel.successMessage">

    <div ng-if="viewModel.executionStatus == 'QUEUED'">
        The script has been queued for execution.
    </div>

    <div ng-if="viewModel.executionStatus == 'INQUEUE'">
        The script you requested is already in a queue and waiting to be run. This script cannot be requested
        again until it finishes processing. If the script is INQUEUE,
        you must try again later if you want to run the script.
    </div>

    <div ng-if="viewModel.executionStatus == 'INPROGRESS'">
        The scheduled script is currently running.
    </div>

    <div ng-if="viewModel.executionStatus == 'SCHEDULED'">
        The script's deployment status is set to scheduled and will be picked up and put into the execution queue.
    </div>

</div>

<div class="alert alert-danger" ng-if="!!viewModel.errorMessage">
    An error has occurred. Please try again.
</div>
