
<h2 class="view-heading">Search Orders</h2>

<div class="panel panel-default">

    <div class="panel-title">

    </div>

    <div class="panel-body">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="salesorder_id" class="control-label col-sm-3">Sales Order Id</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control salesorder-id-text"
                                   id="salesorder_id"
                                   name="salesorder_id"
                                   ng-enter="viewModel.search()"
                                   ng-model="viewModel.salesorderId" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button type="button" ng-click="viewModel.search()" class="btn btn-primary btn-submit">Go <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>

            <div ng-if="viewModel.searchCompleted">
                <div class="alert alert-info" ng-if="!viewModel.response.status">
                    No Record found for provided Mangento ID.
                </div>
                <div class="alert alert-success" ng-if="viewModel.response.status">
                    Below is the link of searched record: <br />

                    <a ng-href="{{viewModel.navigateUrl}}" target="_blank">
                        <span ng-bind="viewModel.navigateUrl"></span>
                    </a>

                </div>
            </div>
        </div>
    </div>

</div>
