<?xml version="1.0"?>
<config>
    <modules>
        <Folio3_Payment>
            <version>1.0</version>
        </Folio3_Payment>
    </modules>
    <global>
        <models>
            <payment>
                <rewrite>
                    <method_ccsave>Folio3_Payment_Model_Method_Ccsave</method_ccsave>
                </rewrite>
            </payment>
            <paygate>
                <rewrite>
                    <authorizenet>Folio3_Payment_Model_Method_Authorizenet</authorizenet>
                </rewrite>
            </paygate>
            <direct>
                <rewrite>
                    <direct>Folio3_Payment_Model_Method_Direct</direct>
                </rewrite>
            </direct>
        </models>
    </global>
</config>
