<?xml version="1.0"?>
<config>
    <modules>
        <Folio3_CancelOrder>
            <version>0.1.0</version>
        </Folio3_CancelOrder>
    </modules>
    <global>
        <helpers>
            <cancelorder>
                <class>Folio3_CancelOrder_Helper</class>
            </cancelorder>
        </helpers>
        <models>
            <cancelorder>
                <class>Folio3_CancelOrder_Model</class>
                <resourceModel>cancelorder_mysql4</resourceModel>
            </cancelorder>
        </models>
        <events>
            <sales_order_save_commit_after> <!-- identifier of the event we want to catch -->
                <observers>
                    <sales_order_save_commit_after_handler> <!-- identifier of the event handler -->
                        <type>model</type>
                        <!-- class method call type; valid are model, object and singleton -->
                        <class>cancelorder/observer</class>
                        <!-- observers class alias -->
                        <method>invoicedStatusChange</method>
                        <!-- observer's method to be called -->
                        <args></args>
                        <!-- additional arguments passed to observer -->
                    </sales_order_save_commit_after_handler>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </global>
</config>