<?xml version="1.0"?>
<config>
    <modules>
        <Apex_DbIneraction>
            <version>0.0.1</version>
        </Apex_DbIneraction>
    </modules>

    <global>
        <resources>
            <dbineraction_setup>
                <setup>
                    <module>Apex_DbIneraction</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dbineraction_setup>
            <dbineraction_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dbineraction_write>
            <dbineraction_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dbineraction_read>
        </resources>
        
        <helpers>
            <apex_dbineraction>
                <class>Apex_DbIneraction_Helper</class>
            </apex_dbineraction>
        </helpers>
        
    </global>
</config>
